/* Main */


img {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
}

.introduction {
    position: relative;
    min-height: auto;
    gap: 4.8125vh;
    padding-top: 7.03125rem;
}

.introduction p {
    color: var(--ink-tertiary);
    margin-top: 0.5rem;
}

.introduction header {
    margin-bottom: 6.9375rem;
}


.introduction article {
    margin-bottom: 4.8125rem;
    align-self: flex-end;
    text-align: end;
    max-width: 56rem;
}

.introduction article h3 {
    color: var(--ink-tertiary);
    padding-top: 3.1875rem;
}

.introduction div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction div button {
    padding: 1.25rem 2rem;
}

.edu-proj {
    align-items: center;
    padding-bottom: 2rem;
}

.edu-proj header {
    align-self: flex-start;
    margin-bottom: 4.8125rem;
}

.selection-buttons {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--primary-light);
    border-radius: 0.5rem;
    padding: 0.9375rem 1.875rem;
    gap: 0.5rem;
}

.selection-buttons button {
    background-color: var(--primary-dark);
    color: var(--ink-dark);
    flex: 1;
    padding: 0.625rem 1rem;
    text-align: center;
    max-width: 48%;
}

.edu-proj .selection-buttons,
.edu-proj article {
    box-sizing: border-box;
    width: 75%;
    margin: 0 auto;
    border: #1A394C 0.125rem solid;
    border-radius: 0.5rem;
}

.edu-proj div button.active, .edu-proj div button.active:hover {
    background-color: #1A394C !important;
    color: var(--ink-tertiary);
    border: #1A394C 0.125rem solid;
}

.edu-proj article {
    align-self: center;
    position: relative;
}

/* White line behind the images */
.edu-proj article::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5.125rem;
    width: 2px;
    background-color: var(--ink-light);
    transform: translateX(-50%);
    z-index: -1;
}

.edu-proj article div.edu, .edu-proj article div.proj {
    padding: 2rem;
    display: flex;
    align-items: stretch;
}

.edu-proj article div.edu h3, .edu-proj article div.proj h3 {
    margin-bottom: 0.25rem;
}

.edu-proj article div img {
    margin-right: 1rem;
    align-self: center;
}

.edu-proj article div .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills div {
    width: 75%;
    margin: 2rem auto 0;
}

.skills div button {
    margin-bottom: 0.75rem;
}

.recent-proj {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    position: relative;
}

.recent-proj article {
    margin: 2rem;
    padding: 2rem;
    background-color: var(--primary-light);
    border-radius: 0.5rem;
    border: #1A394C 0.125rem solid;
}

.recent-proj h3 {
    max-width: 16.4375rem;
    height: 3.75rem;
    margin-bottom: 2rem;
}

.recent-proj img {
    width: 23rem;
    height: 16rem;
    margin-bottom: 1rem;
    border-radius: 0;
}

.recent-proj div {
    position: absolute;
    bottom: 2.5rem;
}

.recent-proj button {
    padding: 0.3125rem 0.4375rem;
    color: var(--ink-tertiary);
    background-color: #1A394C;
}

@media screen and (max-width: 480px) {
    .introduction {
        padding-top: 3.1rem;
        gap: 0;
    }

    .introduction header {
        margin-bottom: 3rem;
    }

    .background-arrow {
        height: 4rem;
    }

    .edu-proj {
        width: 100%;
    }

    .edu-proj header {
        width: 75%;
        align-self: center;
    }

    img {
        width: 4rem;
        height: 4rem;
    }

    .edu-proj p {
        font-size: 0.70rem;
    }

    .edu-proj .selection-buttons {
        padding: 0.625rem 1.25rem;
    }

    .skills div button {
        padding: 0.3125rem 0.4375rem;
        margin-bottom: 0.5rem;
    }

    .recent-proj img {
        width: 15rem;
        height: 10rem;
    }

    .recent-proj h3 {
        height: 1rem;
    }

}

@media screen and (max-width: 1040px) {
    .edu-proj div button {
        padding: 0.625rem 15%;
    }
}