img {
    width: 23rem;
    height: 16rem;
    margin-bottom: 1rem;
}

.projects header {
    margin-top: 2rem;
}

button {
    padding: 0.3125rem 0.4375rem;
    color: var(--ink-tertiary);
    background-color: #1A394C;
}

.proj-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    position: relative;
}

.proj-list article {
    margin: 2rem;
    padding: 2rem;
    background-color: var(--primary-light);
    border-radius: 0.5rem;
    border: #1A394C 0.125rem solid;
}

.proj-list h3 {
    max-width: 16.4375rem;
    height: 3.75rem;
    margin-bottom: 2rem;
}

.proj-list button {
    margin-top: 0.5rem;
}