:root {
    /* Define color variables */
    --primary-dark: #121212; /* Dark Blue */
    --primary-medium: #1F1F1F; /* Blue Gray */
    --primary-light: #2C2C2C; /* Light Gray */

    --ink-dark: #E0E0E0; /* White */
    --ink-light: #FFFFFF; /* Light Background */
    --ink-tertiary: #6EA3A8; /* Light Gray */
}

body {
    background-color: var(--primary-medium);
    color: var(--ink-dark);
    font-family: "JetBrains Mono", monospace, sans-serif;
}

h1, h2, h3 {
    color: var(--ink-light);
    font-weight: bold;
}

h1 {
    font-size: 2.4875rem;
}

h2 {
    font-size: 2.075rem;
}

h3 {
    font-size: 1.4375rem;
}
