:root {
    /* Define color variables */
    --primary-dark: #121212; /* Dark Blue */
    --primary-medium: #1F1F1F; /* Blue Gray */
    --primary-light: #2C2C2C; /* Light Gray */

    --ink-dark: #E0E0E0; /* White */
    --ink-light: #FFFFFF; /* Light Background */
    --ink-tertiary: #6EA3A8; /* Light Gray */
}

body {
    background-color: var(--primary-medium);
    color: var(--ink-dark);
    font-family: "JetBrains Mono", monospace, sans-serif;
}

h1, h2, h3 {
    color: var(--ink-light);
    font-weight: bold;
}

h1 {
    font-size: 2.4875rem;
}

h2 {
    font-size: 2.075rem;
}

h3 {
    font-size: 1.4375rem;
}

/* Header */

nav {
    background-color: var(--primary-dark);
    color: var(--ink-dark);
    height: 5.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.8125rem;
}

nav ul {
    width: 33.9375rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

nav ul li a {
    color: var(--ink-light);
    text-decoration: none;
    font-size: 1.4375rem;
    font-weight: bold;
}

a.active {
    color: var(--ink-tertiary);
}

a.active:hover {
    color: var(--ink-tertiary);
}

a:hover {
    color: #1A394C;
}

/* Main */

.background-arrow {
    rotate: 90deg;
    width: auto;
    height: 4.8125rem;
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateX(-20px);
    }
    60% {
        transform: translateX(-10px);
    }
}

img {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
}

/* Footer */

footer {
    background-color: var(--primary-dark);
    color: var(--ink-dark);
    padding: 3.125rem 2.25rem;
    position: relative; /* Allows absolute positioning of the image */
    text-align: center; /* Centers the text */
}

footer img {
    width: 3.125rem;
    height: 3.125rem;
    position: absolute; /* Position image relative to the footer */
    right: 2.25rem; /* Adjust the image from the right edge */
    top: 50%; /* Vertically center the image */
    transform: translateY(-50%); /* Fine-tune vertical alignment */
}